<ng-demo-page>
    <div pageTitle>
      Button Styles
    </div>
    <div component>
    </div>
    <div description>
      Multiple styling classes are created by extending existing bootsrap classes to create new look buttons 
    </div>
    <div examplesTab>
      <p>
        An example of btn-primary-demo
      </p>
      <div>
        <button class="btn-primary-demo m-1">Enabled primary button</button>
      </div>
      <pre>
        <code>&lt;button class=&quot;btn btn-primary-demo&quot;&gt;Enabled primary button&lt;/button&gt;</code>
      </pre>
      <p>
        An example of btn-primary-demo disabled
      </p>
      <div>
        <button disabled class="btn-primary-demo m-1">Disabled primary button</button>
      </div>
      <pre>
        <code>&lt;button disabled class=&quot;btn btn-primary-demo&quot;&gt;Disabled primary button&lt;/button&gt;</code>
      </pre>


      <p>
        An example of btn-success-demo
      </p>
      <div>
        <button class="btn-success-demo m-1">Enabled success button</button>
      </div>
      <pre>
        <code>&lt;button class=&quot;btn btn-success-demo&quot;&gt;Enabled success button&lt;/button&gt;</code>
      </pre>
      <p>
        An example of btn-success-demo disabled
      </p>
      <div>
        <button disabled class="btn-success-demo m-1">Disabled success button</button>
      </div>
      <pre>
        <code>&lt;button disabled class=&quot;btn btn-success-demo&quot;&gt;Disabled primary button&lt;/button&gt;</code>
      </pre>

      <p>
        An example of btn-outline-primary-demo
      </p>
      <div>
        <button class="btn-outline-primary-demo m-1">Outline Primary</button>
      </div>
      <pre>
        <code>&lt;button class=&quot;btn btn-outline-primary-demo&quot;&gt;Outline Primary&lt;/button&gt;</code>
      </pre>
      <p>
        An example of btn-outline-primary-demo disabled
      </p>
      <div>
        <button disabled class="btn-outline-primary-demo m-1">Outline Primary</button>
      </div>
      <pre>
        <code>&lt;button disabled class=&quot;btn btn-outline-primary-demo&quot;&gt;Outline Primary&lt;/button&gt;</code>
      </pre>


      <p>
        An example of btn-link-demo
      </p>
      <div>
        <button class="btn-link-demo m-1">IMPORTA DA XML</button>
      </div>
      <pre>
        <code>&lt;button class=&quot;btn btn-link-demo m-1&quot;&gt;IMPORTA DA XML&lt;/button&gt;</code>
      </pre>
      <p>
        An example of btn-link-demo disabled
      </p>
      <div>
        <button disabled class="btn-link-demo m-1">IMPORTA DA XML</button>
      </div>
      <pre>
        <code>&lt;button disabled class=&quot;btn btn-link-demo m-1&quot;&gt;IMPORTA DA XML&lt;/button&gt;</code>
      </pre>
    </div>
    <div apiOverview>
      <div class="h5">Icon Integration</div>
      <div>
        <span class="">Icon classes from third party packs like font awesome, Fontello, etc can be used with these classes just like with bootstrap buttons. They can be included by applying third party icon classes to the html <strong>&lt;i&gt;</strong> tag.</span>
      </div>
      <div class="h5">Button Sizing</div>
      <div>
        <span class="">Bootstrap button sizing classes also work with library button using <strong>.btn-block</strong>, <strong>.btn-lg</strong>, etc classes as shown in the demo</span>
      </div>
    </div>
</ng-demo-page>