<ng-demo-page>
  <div pageTitle>
    Radio Button Directive
  </div>
  <div description>
    <div>
      Radio Button is used for activating one of two predefined options.
    </div>
  </div>
  <div examplesTab>
    <p>
      An example of Radio Button
    </p>
    <div class="container">
      <div libRadioContainer>
        <input type="radio" id="Codice" name="Ordina" value="Codice" libRadioForm
          (click)="selectedValue($event.target.value)">
        <label libRadioLabel for="Codice">Codice</label>
      </div>

      <div libRadioContainer>
        <input type="radio" id="Descrizione" name="Ordina" value="Descrizione" libRadioForm
          (click)="selectedValue($event.target.value)">
        <label libRadioLabel for="Descrizione">Descrizione</label>
      </div>
    </div>
    <pre>
        <code>
            &lt;div class="container"&gt;
                &lt;div libRadioContainer&gt;
                    &lt;input type="radio" id="Codice" name="Ordina" value="Codice" libRadioForm
                        (click)="selectedValue($event.target.value)"&gt;
                    &lt;label libRadioLabel for="Codice"&gt;Codice &lt;/label&gt;
                &lt;/div>
            
                &lt;div libRadioContainer&gt;
                    &lt;input type="radio" id="Descrizione" name="Ordina" value="Descrizione" libRadioForm
                         (click)="selectedValue($event.target.value)"&gt;
                    &lt;label libRadioLabel for="Descrizione"&gt;Descrizione &lt;/label&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        </code>
      </pre>
  </div>
  <div apiOverview>
    <p>
      To stylize the radio button as showed in examples add all the <strong>classes</strong> to the HTML element.
    </p>
    <p>
      To disable the radio button add the <strong>disabled</strong> attribute to the input HTML
      element.
    </p>
  </div>
</ng-demo-page>
