<ng-demo-page>
  <div pageTitle>
    Input Text Directive
  </div>
  <div description>
    <div>
      This is a directive to render every text-input in Demo product
    </div>
  </div>
  <div examplesTab>
    <p>
      An example of input text
    </p>
    <div>
      <input type="text" libInputForm placeholder="Write here something">
    </div>
    <pre>
        <code>&lt;input type=&quot;text&quot; libInputForm placeholder=&quot;Write here something&quot;&gt;</code>
    </pre>
    <p>
      An example of input text disabled
    </p>
    <div>
      <input type="text" libInputForm placeholder="Write here something" disabled>
    </div>
    <pre>
      <code>&lt;input type=&quot;text&quot; libInputForm placeholder=&quot;Write here something&quot; disabled &gt;</code>
    </pre>
  </div>
  <div apiOverview>
    <p>
      To stylize the input text as showed in examples add the <strong>form-control-demo</strong> class to the input
      HTML element.
    </p>
    <p>
      To disable the the input text as showed in examples add the <strong>disabled</strong> attribute to the input HTML
      element.
    </p>

  </div>
</ng-demo-page>
