<ng-demo-page>
  <div pageTitle>
    Checkbox
  </div>
  <div description>
    <div>Here we have two checkboxes with different look and feel.</div>
  </div>
  <div examplesTab>
    <p>
      An example of Custom Bootstrap Checkbox
    </p>
    <div>
      <div libCheckboxContainer>
        <input type="checkbox" libCheckboxForm id="customCheck1">
        <label libCheckboxLabel for="customCheck1">Custom bootstrap
          checkbox</label>
      </div>
      <pre>
    <code>
        &lt;div libCheckboxContainer&gt;
            &lt;input type="checkbox" libCheckboxForm id="customCheck1"&gt;
            &lt;label libCheckboxLabel for="customCheck1">Custom bootstrap checkbox&lt;/label&gt;
        &lt;/div&gt;
    </code>
    </pre>
    </div>
    <p>
      An example of Custom Bootstrap Checkbox disabled
    </p>
    <div>
      <div libCheckboxContainer>
        <input type="checkbox" libCheckboxForm id="customCheck2" disabled>
        <label libCheckboxLabel for="customCheck2">Custom bootstrap
          checkbox disabled</label>
      </div>
      <pre>
    <code>
        &lt;div libCheckboxContainer&gt;
            &lt;input type="checkbox" libCheckboxForm id="customCheck1" disabled&gt;
            &lt;label libCheckboxLabel for="customCheck1">Custom bootstrap checkbox&lt;/label&gt;
        &lt;/div&gt;
    </code>
    </pre>
    </div>
  </div>
  <div apiOverview>
    <p>
      To stylize the input checkbox as showed in examples add all the <strong>classes</strong> to the HTML
      element.
    </p>
    <p>
      To disable the input checkbox as showed in examples add the <strong>disabled</strong> attribute to the input
      HTML element.
    </p>
  </div>
</ng-demo-page>
