<ng-demo-page>
  <div pageTitle>
    Header
  </div>
  <div description>
    <div>
      The Header consists of a hamburger menu, company logo, company description, language
      selection and operator details</div>
  </div>
  <div examplesTab>
    <p>
      An example of Header
    </p>
    <div>
      <lib-header>
        <img companyLogo src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.mindmup.com%2Ftutorials%2Flinking.html&psig=AOvVaw0nAIQ9l7V_mF5i-w-KtVpZ&ust=1623829716807000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKjC2p-TmfECFQAAAAAdAAAAABAD" class="img-fluid">
        <a companyDescription>Google</a>
        <span operatorDetails>Operator[12345] Dhruv - 52003 - Google[0001]</span>
      </lib-header>
    </div>
    <pre>
        <code>
          &lt;lib-header>
            &lt;img companyLogo src="" class="img-fluid"&gt;
            &lt;a companyDescription>Google&lt;/a&gt;
            &lt;span operatorDetails>Operator[12345] Dhruv Phansalkar - 52003 - Google[0001]&lt;/span&gt;
          &lt;/lib-header&gt;
        </code>
    </pre>
  </div>
  <div apiOverview>
    <p>
      To change company logo, as shown in example along with <strong>companyLogo</strong> put proper image source inside
      the selector tag of lib-header.
    </p>
    <p>
      As shown in example along with <strong>companyDescription</strong> add company description.
    </p>
    <p>
      As shown in example along with <strong>operatorDetails</strong> add operator details.
    </p>
  </div>
</ng-demo-page>