<ng-demo-page>
  <div pageTitle>
    Text Area Directive
  </div>
  <div component>
  </div>
  <div description>
    <div>
      This is a directive to render every textarea
    </div>
  </div>
  <div examplesTab>
    <p>
      An example of input text
    </p>
    <div>
      <textarea placeholder="Describe yourself here..." libInputForm rows="3"></textarea>
    </div>
    <pre>
        <code>&lt;textarea placeholder=&quot;Describe yourself here...&quot; libInputForm &gt;&lt;/textarea&gt;</code>
    </pre>
  </div>
  <div apiOverview>
    <p>
      To stylize the textarea as showed in examples add the <strong>form-control txt-area-demo</strong> class to the
      input
      HTML element.
    </p>
  </div>
</ng-demo-page>
