<ng-demo-page>
  <div pageTitle>
    Tooltip
  </div>
  <div description>
    <div>Tooltip gives us hint or message once we hover over it along with the properties to set placement,
      tooltipcontent and delay dynamically.</div>
  </div>
  <div examplesTab>
    <p>
      An example of Tooltip
    </p>
    <div>
      <div class="tooltip-example">
        <div libTooltipDemo tooltipTitle='tooltip on left' placement="left" delay="200">tooltip on left</div>
        <div libTooltipDemo tooltipTitle='tooltip on bottom' placement="bottom" delay="200">tooltip on bottom</div>
        <div libTooltipDemo tooltipTitle='tooltip on top' placement="top" delay="200">tooltip on top</div>
        <div libTooltipDemo tooltipTitle='tooltip on right' placement="right" delay="200">tooltip on right</div>
      </div>
    </div>
    <pre>
        <code>&lt;div class="tooltip-example"&gt;
          &lt;div libTooltipDemo tooltipTitle='tooltip on left' placement="left" delay="200">tooltip on left&lt;/div&gt;
          &lt;div libTooltipDemo tooltipTitle='tooltip on bottom' placement="bottom" delay="200">tooltip on bottom&lt;/div&gt;
          &lt;div libTooltipDemo tooltipTitle='tooltip on top' placement="top" delay="200">tooltip on top&lt;/div&gt;
          &lt;div libTooltipDemo tooltipTitle='tooltip on right' placement="right" delay="200">tooltip on right&lt;/div&gt;
        &lt;/div&gt;</code>
    </pre>
  </div>
  <div apiOverview>
    <p>
      Assign the content of tooltip to <strong>tooltipTitle</strong>.
    </p>
    <p>
      Assign the position (left / bottom / top / right) of tooltip to<strong>placement</strong>.
    </p>
    <p>
      Assign <strong>delay</strong> for the occurance of the tooltip after the hover as giben in the example.
    </p>
  </div>
</ng-demo-page>